{{ partial "header" . }}
<div class="container">
    <header class="top">
        <h1><a href="#">Ulam Pinoy Project</a></h1>
        {{ partial "nav" . }}
    </header>
    <main>
        <div class="content">
            
            <section class="featured">
                {{ range first 1 (where .Site.Pages.ByDate.Reverse "Params.featloc" "start") }}
                <div class="featured-item">
                    <figure>
                        <a href="{{ .RelPermalink }}"><img src="{{ .Params.photo }}" alt="" class="thm"></a>
                    </figure>
                    <div class="teaser">
                        <small class="whetter">{{ .Params.whetter }}</small>
                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                        <p class="excerpt">
                            {{ .Params.excerpt }}
                        </p>
                    </div>

                </div>
                {{ end }}
            </section>
            <section class="recent-posts">
                {{ range first 8 (where .Data.Pages "Type" "post") }} {{ if not (in .Params.featloc "start")}}
                <div class="recent-post-item">
                    <a href="{{ .RelPermalink }}"><img src="{{ .Params.photo }}" alt="" class="thm"></a>
                    <small class="whetter">{{ .Params.whetter }}</small>
                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                    <p class="excerpt">
                        {{ .Params.excerpt }}
                    </p>
                </div>
                {{ end }} {{ end }}
            </section>

            <div class="adverts">
                {{ partial "ads-bottom-respo" . }}
            </div>

            <h2 class="section-name">Mga Video Recipes</h2>
            <section class="recent-videos">
                {{ range first 9 (where .Data.Pages "Type" "video") }}
                <div class="recent-post-item">
                    <a href="{{ .RelPermalink }}"><img src="{{ .Params.photo }}" alt="" class="thm"></a>
                    <small class="whetter">{{ .Params.whetter }}</small>
                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                    <p class="excerpt">
                        {{ .Params.excerpt }}
                    </p>
                </div>
                {{ end }}
            </section>
            <div class="adverts">
                {{ partial "ads-bottom-respo" . }}
            </div>
            <h2 class="section-name">Mula sa Ulam Pinoy Archive</h2>
            <section class="archive-featured">
                {{ range first 8 (where .Data.Pages "Type" "archive") }}
                <div class="recent-post-item">
                    <a href="{{ .RelPermalink }}"><img src="{{ .Params.photo }}" alt="" class="thm"></a>
                    <small class="whetter">{{ .Params.whetter }}</small>
                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                    <p class="excerpt">
                        {{ .Params.excerpt }}
                    </p>
                </div>
                {{ end }}
            </section>
        </div>
        <div class="adverts">
            {{ partial "ads-bottom-respo" . }}
        </div>
    </main>
</div>
{{ partial "footer" . }}