{{ partial "header" . }}
<div class="container">
    <header class="top">
        <h1><a href="#">Ulam Pinoy Project</a></h1>
        {{ partial "nav" . }}
    </header>
    <main>
        <h2 class="section-name">{{.Data.Pages.Title}}</h2>
        <section class="gallery">
            {{ range .Data.Pages }}
            <div class="gallery-item">
                <a href="{{ .RelPermalink }}"><img src="{{ .Params.photo }}" alt=""></a>
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p class="excerpt">
                    {{ .Params.excerpt }}
                </p>
            </div>
            {{ end }}
        </section>

        <div class="adverts">
            {{ partial "ads-bottom-respo" . }}
        </div>
    </main>
</div>
{{ partial "footer" . }}