{{ partial "header" . }}

<div class="container">
    <header class="top">
        <h1><a href="#">Ulam Pinoy Project</a></h1>
        {{ partial "nav" . }}
    </header>
    <main class="archive">
        <h2 class="section-name">From the Ulam Archive</h2>
        <section class="archive-gallery">
            {{ range .Data.Pages }}
            <div class="archive-gallery-item">
                <a href="{{ .RelPermalink }}"><img src="{{ .Params.photo }}" alt=""></a>
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p class="excerpt">
                    {{ .Params.excerpt }}
                </p>
            </div>
            {{ end }}
        </section>
        <div class="adverts">
            {{ partial "ads-bottom-respo" . }}
        </div>
    </main>
</div>
{{ partial "footer.html" . }}