{{ partial "header.html" . }}
<div class="container">
  <header class="top">
      <h1><a href="#">Ulam Pinoy Atbp.</a></h1>
      {{ partial "nav" . }}
  </header>
  <main class="archive">
    <article class="post">
      <figure class="post-cover-image">
        <img src="{{ .Params.photo }}" alt="">
      </figure>
      <header>
        <small class="whetter">{{ .Params.whetter }}</small>
        <h1>{{ .Title }}</h1>
        <small class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</small>
      </header>
        {{ .Content }}
    </article>
    <div class="adverts">
        {{ partial "ads-bottom-respo" . }}
      </div>
    </main>
    {{ partial "footer" . }}
</div>
</div>