/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";

body {
  background-color: #FFF8F1;
  font-family: 'Catamaran', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 14px;
  height: 100vh;
  line-height: 1.6;
}

body.dark-golden-toyo {
  background-color: black;
  color: #eeeeee;
}

body.dark-golden-toyo .top {
  background-color: #111111;
}

body.dark-golden-toyo article header h1 {
  color: #d5b450;
}

body.dark-golden-toyo article figure figcaption h4 {
  background-color: #d90000;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Zilla Slab', 'Times New Roman', Times, serif;
  margin: 2rem 0 1rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1rem;
  margin: .5rem 0;
  letter-spacing: .01rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

img.thm {
  object-fit: cover;
  margin-bottom: 1rem;
  height: 200px;
}

blockquote {
  border-left: 4px solid #ccc;
  margin: 2rem 0;
  padding-left: 1.5rem;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  line-height: 2;
  margin-left: 1rem;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #0074d9;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  padding: 0;
}

.container header {
  grid-column: 1 / 4;
}

header.top {
  font-family: 'Space Mono', monospace;
  border-bottom: 1px solid rgba(204, 204, 204, 0.4);
  height: 144px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 2rem;
  text-align: center;
  width: 100%;
}

header h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: .2rem;
  margin-bottom: .5rem;
}

header h1 a {
  color: #d90000;
}

header h1 a:hover {
  color: #0074d9;
}

header nav ul {
  list-style-type: none;
  margin: 0 auto;
  display: block;
}

header nav ul li {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
}

header nav ul li a {
  padding: 1rem;
}

main {
  grid-column: 2 / 3;
}

main.post-content {
  display: block;
  grid-column: 1 / 4;
}

main.archive {
  margin-top: 10rem;
}

main.posts .section-name {
  writing-mode: vertical-lr;
  margin: 0;
  padding: 40px 20px;
  position: fixed;
  left: 0;
  top: 90px;
  height: 100vmax;
  font-size: 1rem;
}

main.posts .recent-posts {
  grid-column-start: 2;
}

main.posts .post-list {
  margin: 2rem 0 0 1rem;
}

aside {
  grid-column: 6 / 7;
}

.content .featured-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2rem;
}

.featured-item {
  margin: 2.5rem 0 0;
}

.featured-item figure {
  margin: 0 0 2rem;
}

.featured-item figure img {
  object-fit: cover;
  min-width: 100%;
  height: 300px;
}

.featured-item h3 {
  font-size: 2.7rem;
  margin: 1rem 0 0;
}

.featured-item p {
  font-size: 1.2rem;
}

.featured-item .teaser {
  grid-column-end: 3;
}

.whetter {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 800;
  letter-spacing: .1rem;
  color: #888;
  display: block;
}

.recent-posts {
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  grid-gap: 3rem;
  grid-column: 4 / 12;
}

.recent-posts img.thm {
  max-height: 200px;
}

.recent-videos {
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  grid-gap: 3rem;
}

.archive-featured {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 2rem;
}

.video-gallery, .archive-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 3rem;
  margin-top: 2rem;
}

.video-gallery img, .archive-gallery img {
  min-height: 270px;
}

.recent-posts h3,
.recent-videos h3,
.archive-featured h3 {
  font-size: 1.4rem;
  margin: .8rem 0 .4rem;
}

.section-name {
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  font-weight: 700;
  background-color: #d90000;
  color: #fff;
  display: inline-block;
  padding: .3rem .5rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  margin: 4rem 0 1rem;
}

article {
  display: grid;
  grid-template-columns: 1fr .4fr 320px 320px .4fr 1fr;
  margin: 0 auto;
  padding: 0;
  align-self: stretch;
}

article figure {
  position: relative;
  margin: 1rem auto 3rem;
}

article figure.full {
  grid-column: 2 / 6;
}

article figure figcaption {
  position: absolute;
  bottom: 10px;
}

article figure figcaption h4 {
  font-family: 'Space Mono', monospace;
  font-size: .75rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: inline-block;
  padding: .25rem .4rem;
  margin: 0;
  font-weight: 300;
  line-height: 1;
}

article figure img {
  object-fit: cover;
  object-position: 100% 50%;
}

article figure.post-cover-image {
  display: block;
  overflow: hidden;
  height: 64vh;
  min-width: 100%;
  grid-column: span 6;
  margin: 0 auto;
}

article.post h3 {
  margin: .5rem 0 1rem;
  grid-column: 3 / 5;
}

article.post header {
  grid-column: 3 / 6;
  border-bottom: none;
  margin: 4rem 0 2rem;
}

article.post header h1 {
  font-size: 3rem;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
  margin-top: 0;
}

article.post header h2 {
  font-size: 2.4rem;
}

article h2,
article p,
article ul,
article ol,
article blockquote {
  margin: 1rem 0 1.5rem;
  font-size: 1.1rem;
  grid-column: 3 / 5;
  text-align: left;
}

article figure {
  grid-column: 2 / 6;
}

article ul li,
article ol li {
  font-size: 1rem;
}

article .post-date {
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #666;
}

article .original-source {
  font-weight: 600;
  font-size: .9rem;
}

article .photo-panel {
  grid-column: 2 / 6;
  display: grid;
  grid-gap: .25rem;
  margin: 1rem auto 3rem;
  overflow: hidden;
}

article .photo-panel figure {
  margin: 0 auto;
  overflow: hidden;
}

article .photo-panel figure img {
  min-height: 100%;
}

article .photo-panel.p2p1 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

article .photo-panel.p2p1 figure:last-child {
  grid-column: span 2;
  min-height: 100%;
}

article .photo-panel.p1p2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
}

article .photo-panel.p1p2 figure:first-child {
  grid-column: span 2;
}

.excerpt {
  font-size: 1rem;
  margin-top: 0;
}

.adverts {
  display: block;
  margin: 3rem auto;
  text-align: center;
  width: auto;
  align-self: center;
}

footer {
  grid-column: 1 / 4;
  grid-row-end: 4;
  font-family: 'Space Mono', monospace;
  margin-top: 4rem;
  padding: 1rem 0;
  text-align: center;
  border-top: 1px solid rgba(204, 204, 204, 0.4);
  background-color: rgba(204, 204, 204, 0.1);
}

footer p {
  font-size: .8rem;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  header.top {
    height: 100px;
    padding: 0 1rem;
    position: static;
  }
  header.top h1 {
    font-size: 1.33rem;
    font-weight: 900;
    margin-top: 1rem;
    letter-spacing: 1px;
  }
  main {
    margin-top: 0;
    grid-column: 1 / 2;
  }
  main.archive, main.videos {
    padding: 1rem;
    margin-top: 0;
  }
  main .section-name {
    display: block;
    margin: 2rem auto;
    text-align: center;
    width: fit-content;
  }
  .content {
    padding: 0 1rem;
  }
  .content .featured-item {
    grid-template-columns: 1fr;
  }
  .content .featured-item figure, .content .featured-item .teaser {
    margin-bottom: 1rem;
    grid-column: 1 / 2;
  }
  .content .featured-item figure img, .content .featured-item .teaser img {
    height: auto;
  }
  .content .featured-item h3 {
    font-size: 2rem;
  }
  .content .featured-item p {
    font-size: 1rem;
  }
  article {
    grid-template-columns: 1.5rem 1fr 1.5rem;
  }
  article.post header {
    margin: 1rem 0;
  }
  article.post header h1 {
    font-size: 2.7rem;
  }
  article figure {
    grid-column-start: 1;
  }
  article figure.full {
    grid-column: 1 / 6;
  }
  article figure.post-cover-image {
    height: auto;
  }
  .recent-posts, .recent-videos {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  .recent-posts h3, .recent-videos h3 {
    font-size: 1rem;
  }
  .recent-posts .whetter, .recent-videos .whetter {
    font-size: .7rem;
  }
  .recent-posts .excerpt, .recent-videos .excerpt {
    font-size: .8rem;
  }
  .adverts {
    margin: 1.5rem auto;
    padding: .5rem;
  }
  footer {
    margin-top: 1rem;
  }
}
