<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="{{ .Site.BaseURL }}">
    <link href="{{ .Site.BaseURL }}css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:400,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800|Zilla+Slab:500,600,700|Space+Mono:400,700" rel="stylesheet">
    <title>The Ulam Pinoy Atbp.</title>
</head>

<body class="{{ .Params.theme }}">