{{ partial "header.html" . }}
<div class="container">
  <header class="top">
    <h1><a href="#">Ulam Pinoy Atbp.</a></h1>
  </header>
  <main class="post-content">
    <article class="post">
      <figure>
        <img src="{{ .Params.photo }}" alt="" class="fw">
      </figure>
      <header>
        <small class="whetter">{{ .Params.whetter }}</small>
        <h1>{{ .Title }}</h1>
        <small class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</small>
      </header>
      <section>
        {{ .Content }}
      </section>
      <p class="source">[<a href="{{ .Params.source }}" class="original-source">Original source</a>]</p>
    </article>
    <div class="adverts">
      {{ partial "ads-bottom-respo" . }}
    </div>
  </main>
  {{ partial "footer" . }}
</div>